#head1{
    color:blue;
    background-color:aqua
    margin:10px;
}
.a1{
    color:aqua;
    background-color:rgb(89, 0, 255);
    place-items: center;
    margin:20;
    padding:10;
    border:10px solid rgb(177, 141, 141);
    border-radius:15;
}
div{
    color:rgb(89, 0, 255);
    margin:20px;
    padding:10px;
    place-items: center;
}